body {
    font-family:Arial,sans-serif;
    margin:0;
    padding:0;
    background-color:#808080
}
.hamburger {
    position:fixed;
    display:flex;
    flex-direction:column;
    cursor:pointer;
    padding:10px;
    right:0;
    z-index:1000;
    background-color:#f4f4f4;
}
.hamburger div {
    width:30px;
    height:3px;
    background-color:#333;
    margin:5px 0;
    transition:all 0.3s ease;
}
.hamburger.active div:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}
.hamburger.active div:nth-child(2) {
    opacity: 0;
}
.hamburger.active div:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}
.navbar {
    margin:0;
    list-style-type:none;
    display:none;
    flex-direction:column;
    position:fixed;
    top:0;
    right:50px;
    background-color: #333;
    margin:0;
    padding:0;
}
.navbar.active {
    display: flex;
}
.navbar li {
    padding:15px 20px;
    margin:0;
}
.navbar a {
    text-align:center;
    text-decoration:none;
    font-weight:bold;
    color:#f4f4f4;
    padding:15px 20px;
    margin:0;
}
.navbar a:hover {
    color: #ffffff;
    background-color:#808080;
    padding:15px 20px;
}
#home .banner{
    margin:0;
    width:100%;
}
#home iframe{
    display:inline-flex;
    justify-content:space-around;
    margin:10px 9px;
    width:650px;
    height:400px;
}
#profile .member{
    margin:10px;
    display:grid;
    grid-template-columns:repeat(5,20%);
}
#profile .member .mem1, .mem2, .mem3, .mem4, .mem5{
    width:fit-content;
    display:flexbox;
    justify-content:center;
    padding:20px;
    margin:10px;
    background-color:#333;
    border-radius:10px;
}
#profile .member .mem1, .mem2, .mem3, .mem4, .mem5, img{
    margin:auto;
}
#profile .member .mem1, .mem2, .mem3, .mem4, .mem5, h1, p{
    margin:auto;
}
#profile .member img{
    height:150px;
    border-radius:50%;
}
#profile .member h1 a{
    text-decoration:none;
    text-align:center;
    color:#ffffff;
    font-size:13px;
}
footer{
    margin:0;
    padding-top:25px;
    display:flex;
    justify-content:space-around;
    margin:auto;
    background-color:#333;
    color:#f4f4f4;
}
footer h3 a{
    text-decoration:none;
    color:#00ffff;
}
@media (max-width: 768px) {
    #home{
        margin-top:0;
    }
    #home .banner{
        width:100%;
        height:fit-content;
    }
    #home iframe{
        display:flex;
        margin:auto;
        width:300px;
        height:155px;
    }
    #profile .member{
        margin:5px;
        display:grid;
        grid-template-columns:none;
        gap:10px;
    }
    #profile .member .mem1, .mem2, .mem3, .mem4, .mem5{
        width:85%;
        display:inline-flex;
        justify-content:center;
        padding:10px;
        margin:10px 100px;
        gap:5px;
    }
    #profile .member .mem1, .mem2, .mem3, .mem4, .mem5, img{
        margin:auto;
    }
    #profile .member .mem1, .mem2, .mem3, .mem4, .mem5, h1{
        margin:auto;
    }
    #profile .member img{
        height:100px;
        border-radius:50%;
    }
    #profile .member h1{
        font-size:15px;
    }
    #profile .member p{
        display:none;
    }
    footer h1{
        font-size:15px;
    }
    footer h3{
        font-size:10px;
    }
}
